.bundle/
log/*.log
**/log/*.log
pkg/
node_modules/
.DS_Store
tmp/
.parcel-cache
.yardoc

.parcel-cache
.bridgetown-cache
docs/output
*-refresh.css
_docs

.netlify

gemfiles/*.lock

# Vite Ruby
/public/vite*
node_modules
# Vite uses dotenv and suggests to ignore local-only env files. See
# https://vitejs.dev/guide/env-and-mode.html#env-files
*.local

